@import "bourbon";
@import "neat-helpers";
@import "neat";
@import "base";

@import "badges";
@import "button-group";
@import "nav";
@import "pseudo-tables";
@import "tables";

section {
  @include outer-container;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
  * {
    display: inline-block;
  }
}

button, .button {
  @extend %button;
}

.green {
  color: #72BFBF;
}

.red {
  color: tomato;
}

.lot-table {
  font-size: .9em;
  table-layout: auto;
}
