.holdings-table {
  width: 800px;

  .row-container {
    clear: both;
    display: table;
    padding: 8px 0 8px;
    width: 100%;

    .cell {
      float: left;
    }

    .holding-name {
      width: 300px;
    }

    .current-weight, .target-weight {
      text-align: right;
      width: 120px;
    }

    .current-value {
      float: right;
      text-align: right;
    }
  }

  .table-head {
    font-size: 11px;
    text-transform: uppercase;
  }
  .table-head, .holdings-list {
    border-bottom: 1px solid #bbb;
    margin-bottom: 4px;
    padding-bottom: 4px;
  }
  .holdings-list {
    color: #333;
    font-size: 14px;

    .arrow {
      display: inline-block;
      font-size: 19px;
      margin-left: -15px;
      margin-right: 5px;
      opacity: 0;
      vertical-align: baseline;
    }

    .asset-class-summary, .fund-summary {
      line-height: 19px;
    }

    .asset-class.expanded {
      margin-top: -5px;
      padding-top: 5px;
      margin-bottom: -5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #bbb;
      border-top: 1px solid #bbb;
    }

    .asset-class-summary:hover, .asset-class.expanded .asset-class-summary,
    .fund-summary:hover, .fund.expanded .fund-summary {
      color: black;
      font-weight: bold;

      .arrow {
        margin-left: 0px;
        opacity: 1;
      }
    }

    .asset-class.expanded .asset-class-summary, .fund.expanded .fund-summary {
      .arrow {
        transform: rotate(90deg);
      }
    }

    .fund-summary .holding-name {
      padding-left: 15px;
    }

    .lot {
      .holding-name {
        padding-left: 30px;
      }
      .value-change {
        text-align: right;
        width: 100px;
      }
    }
  }
  .table-footer {
    border-top: 1px solid #bbb;
    text-transform: uppercase;
  }
}
