
<fieldset>
  <form>
    <h2>New Portfolio</h2>

    <p>Enter a name for your portfolio, then allocate percentages to the various asset classes.</p>

    <p>
      <label for="name">Name:</label>
      {{input id="name" value=name}}
    </p>

    <p>
      <label for="asset_class_1">Asset class:</label>
      <select name="asset_class_1">
        <option selected="selected" disabled="disabled" value=''></option>
        {{#each assetClass in allAssetClasses}}
        <option {{bind-attr value=assetClass.id}}>{{assetClass.name}}</option>
        {{/each}}
      </select>
    </p>

    <p>
      <label for="radio_buttons">Radio Buttons:</label>
      <label>
        <input type="radio" class="radio" name="radio_button" value="radio_1"> Radio 1
      </label>
      <label>
        <input type="radio" class="radio" name="radio_button" value="radio_2"> Radio 2
      </label>
      <label>
        <input type="radio" class="radio" name="radio_button" value="radio_3"> Radio 3
      </label>
    </p>

    <p>
      <label for="checkboxes">Checkboxes:</label>
      <label>
        <input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Checkbox 1
      </label>
      <label>
        <input type="checkbox" class="checkbox" name="checkboxes" value="check_2"> Checkbox 2
      </label>
      <label>
        <input type="checkbox" class="checkbox" name="checkboxes" value="check_3"> Checkbox 3
      </label>
    </p>

    <p>
      <input class="button" type="submit" value="Submit">
    </p>
  </form>
</fieldset>
