<h2>New Portfolio</h2>
<p>Enter a name for your portfolio, then allocate percentages to the various asset classes.</p>

<form {{action "save" this on="submit"}}>
  <fieldset>
    <p>
      <label for="name">Name:</label>
      {{input id="name" value=name}}
    </p>

    <h3>Allocations:</h3>
    <hr/>

    <table class="table-borders">
      <thead>
        <tr>
          <th>Asset Class</th>
          <th>Target Weight</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each allocation in allocations}}
          {{render "allocationEdit" allocation}}
        {{/each}}
      </tbody>
    </table>

    <p>
      {{view "select"
             content=remainingAssetClasses
             optionValuePath="content"
             optionLabelPath="content.name"
             prompt="Add an asset class:"
             selection=assetClassToAdd
             disabled=remainingAssetClassesIsEmpty}}
    </p>
    <hr/>

    <p>
      <input class="button" type="submit" value="Save">
    </p>
  </fieldset>
</form>
