<h2 id="title">Portfolio: {{model.name}}</h2>

<hr/>

<span class="{{if model.taxable 'badge-success' 'badge-notice'}}">
  {{if model.taxable "Taxable" "Non-taxable"}}
</span>

{{holdings-table portfolio=model}}

{{#link-to 'portfolio.edit' model class="button"}}Edit{{/link-to}}
