<h2 id="title">Portfolio: {{name}}</h2>

<hr>

<h3>Allocations</h3>

<table class="table-borders">
  <thead>
    <tr>
      <th>Asset Class</th>
      <th>Target Weight</th>
    </tr>
  </thead>
  <tbody>
    {{#each allocation in allocations}}
      <tr>
        <td>
          {{#link-to 'asset_class' allocation.assetClass}}
            {{allocation.assetClass.name}}
          {{/link-to}}
        </td>
        <td>{{allocation.weight}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
